node_modules/
.vscode/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
build/
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
build/
*.env
frontend/eas.json
frontend/.env.production
backend/src/database/pyscripts/modelos/glove_s50.txt
backend/src/database/pyscripts/modelos/glove_s50.bin
backend/src/database/pyscripts/modelos/glove_s100.txt
backend/src/database/pyscripts/modelos/glove_s100.bin
backend/src/database/pyscripts/modelos/glove_s300.txt
backend/src/database/pyscripts/modelos/glove_s300.bin