node_modules/
.vscode/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
build/
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
build/
frontend/eas.json
.github/
.github/workflows/
.github/workflows/main.yml
.github/workflows/main_Recruitradar.yml